<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Map</title>
    <!-- Include Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Include Leaflet Heatmap Plugin -->
    <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
    <script src="https://unpkg.com/geojson-vt@3.2.0/geojson-vt.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.1.0/dist/leaflet.markercluster.js"></script>
</head>
<body>
    <style>
        [type="date"] {
            background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
        }
        [type="date"]::-webkit-inner-spin-button {
        display: none;
        }
        [type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        }
        /* custom styles */
        body {
        padding: 0 2em;
        background: #e5e5e5;
        font: 13px/1.4 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        }
        label {
        display: block;
        }
        input {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        background-color: #fff;
        padding: 3px 5px;
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
        width: 190px;
        }
    </style>
    <h1>Карта определения влияния дефицита давления пара (VPD) на индекс засушливости (AI) по территории России</h1>
    <div>
        <label for="dateInput">Выберите дату:</label>
        <input type="date" id="dateInput" name="dateInput" value="">
    </div>
    <div id="map" style="height: 540px;"></div>
    
    <div>
        <script>
            const map = L.map('map', { renderer: L.canvas() }).setView([55.870037, 85.441887], 3);

            const tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                // attribution: '© OpenStreetMap contributors',
                cacheMaxAge: 3600 * 24,
                useCache: true,
                crossOrigin: true
            }).addTo(map);

            var circles = L.layerGroup();
            // var markers = L.markerClusterGroup();

            async function updateMap(date) {
                const response = await fetch(`/weather_data?date=${date}`);
                const data = await response.json();
                // markers.clearLayers();

                data.forEach(cityData => {
                    let color;
                    const vpd = cityData.map_data.vpd;
                    // console.log(vpd, cityData.map_data)
                    if (vpd < 0.4 || vpd > 1.6) {
                        color = 'red';
                    } else if (vpd >= 0.4 && vpd <= 0.8) {
                        color = 'blue';
                    } else if (vpd >= 0.8 && vpd <= 1.2) {
                        color = 'green';
                    } else if (vpd >= 1.2 && vpd <= 1.6) {
                        color = 'orange';
                    } else {
                        console.log('vpd', vpd);
                        color = 'gray';
                    }
                    var ai = cityData.map_data.aridity_index;
                    var lat =  cityData.map_data.lat;
                    var lon =  cityData.map_data.lon;
                    var radius = 20*ai;
                    var name = cityData.city_name;

                    var circle = L.circle([lat, lon],radius, {
                        color: color,
                        fillColor: color,
                        fillOpacity: 0.8 
                    })
                    circle._airad = radius;
                    // heatData.push([lat, lon, color]); // Add data for heat layer
                   
                    circle.bindPopup(`City: ${name}<br>Temperature: ${Math.round(cityData.map_data.temp)}°C, Humidity: ${Math.round(cityData.map_data.humidity)}%<br>
                    VPD: ${Number((vpd).toFixed(3))}, Artidity Index: ${Number((ai).toFixed(2))}`);
                    circles.addLayer(circle);
                    // markers.addLayradius
                    // map.addLayer(circle);
                });
                
                map.addLayer(circles);
            }
            window.onload = function() {
                const dateInput = document.getElementById('dateInput');
                const currentDate = new Date().toISOString().split('T')[0]; // Get current date in YYYY-MM-DD format
                dateInput.value = currentDate; // Set current date as default value
                
                updateMap(currentDate); // Load map with current date data
                
                dateInput.addEventListener('change', function() {
                var selectedDate = new Date(dateInput.value);
                const today = new Date();
                const threeDaysLater = new Date(today);
                threeDaysLater.setDate(today.getDate() + 3);

                if (selectedDate > threeDaysLater) {
                    alert("Выберите дату не позже 3х дней от текущей и не раньше 26 января 2024");
                    return;
                }
                selectedDate = selectedDate.toISOString().split('T')[0];
                console.log(selectedDate);
                circles.clearLayers(); // Clear existing circles before updating
                updateMap(selectedDate); // Update map with selected date data
            });}
            
            var myZoom = {
                start: map.getZoom(),
                end: map.getZoom()
                };

            map.on('zoomstart', function(e) {
            myZoom.start = map.getZoom();
            });
            const max_Radius = 10**5;
            const min_Radius = 15000;

            map.on('zoomend', function(e) {
                myZoom.end = map.getZoom();
                // console.log(myZoom.end);
                var diff = myZoom.start - myZoom.end;
                circles.eachLayer(function (layer) {
                    // if (layer instanceof L.circle) {
                    var cur_radius = layer.getRadius();
                    // console.log(cur_radius,  layer._radius);
                    if (diff > 0) {
                        layer.setRadius(Math.min(cur_radius * 2, layer._airad * 10));
                    } else if (diff < 0) {
                        layer.setRadius(Math.max(cur_radius / 4, layer._airad / 10));
                    }
                    
                    // if (myZoom.end == 4){
                    //     layer.setRadius(layer._airad);
                    //     console.log('here')
                    // // }
                    // }
                    
            });})
        </script>
    </div>
</body>
</html>
